@page
@using GameBrain
@model WebApp.Pages.GamePlay

@{
    ViewData["Title"] = "TIC-TAC-TWO";
    Layout = "~/Pages/Shared/_CustomLayout.cshtml";
    ViewData["UserName"] = Model.UserName;
}


<h1 class="main-part-header">TIC-TAC-TWO</h1>

<div class="main-part-content">
    <div class="main-part-content-box">
        <table class="game-board-table">
            
            @if (Model.GameIsOver)
            {
                <div>GAME IS OVER!</div>
            }

            @if (Model.CurrentOneToMove == Model.UserName)
            {
                <p>Current one to move: @Model.CurrentOneToMove</p>
                @for (int y = 0; y < Model.TicTacTwoBrain.DimY; y++)
                {
                    <tr >
                        @for (int x = 0; x < Model.TicTacTwoBrain.DimX; x++)
                        {
                            <td class="@(Model.TicTacTwoBrain.GameBoard[y][x].IsPartOfGrid ? "td-partOfGrid" : "")">
                                @if (Model.TicTacTwoBrain.GameBoard[y][x].GetSpotValue() == EGamePiece.Empty)
                                {
                                    <a asp-route-x="@x" asp-route-y="@y"
                                       asp-route-GameName="@Model.GameName" asp-route-UserName="@Model.UserName">
                                        -
                                    </a>
                                }
                                else
                                {
                                    @(Model.TicTacTwoBrain.GameBoard[y][x].Piece)
                                }
                            </td>
                        }
                    </tr>
                }
            }
            else
            {
                <p class="info">IT'S NOT YOUR TURN! PLEASE WAIT</p>
                @for (int y = 0; y < Model.TicTacTwoBrain.DimY; y++)
                {
                    <tr >
                        @for (int x = 0; x < Model.TicTacTwoBrain.DimX; x++)
                        {
                            <td class="@(Model.TicTacTwoBrain.GameBoard[y][x].IsPartOfGrid ? "td-partOfGrid" : "")">
                                @if (Model.TicTacTwoBrain.GameBoard[y][x].GetSpotValue() == EGamePiece.Empty)
                                { 
                                    <span>-</span>
                                }
                                else
                                {
                                    @(Model.TicTacTwoBrain.GameBoard[y][x].Piece)
                                }
                            </td>
                        }
                    </tr>
                }
                <a asp-page="/GamePlay" asp-route-UserName="@Model.UserName"
                   asp-route-GameName="@Model.GameName">REFRESH PAGE</a>
            }
        </table>
        
        
    </div>
</div>


